src/wsdl/localhost_8080/EdutinServicio/ServiciosEdutin.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://edutinservicio.edutin.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://edutinservicio.edutin.com/" name="ServiciosEdutin">
<types>
<xsd:schema>
<xsd:import namespace="http://edutinservicio.edutin.com/" schemaLocation="http://localhost:8080/EdutinServicio/ServiciosEdutin?xsd=1"/>
</xsd:schema>
</types>
<message name="RegistrarDocente">
<part name="parameters" element="tns:RegistrarDocente"/>
</message>
<message name="RegistrarDocenteResponse">
<part name="parameters" element="tns:RegistrarDocenteResponse"/>
</message>
<message name="ListarAlumnos">
<part name="parameters" element="tns:ListarAlumnos"/>
</message>
<message name="ListarAlumnosResponse">
<part name="parameters" element="tns:ListarAlumnosResponse"/>
</message>
<message name="RegistrarMateria">
<part name="parameters" element="tns:RegistrarMateria"/>
</message>
<message name="RegistrarMateriaResponse">
<part name="parameters" element="tns:RegistrarMateriaResponse"/>
</message>
<message name="ListarNotas">
<part name="parameters" element="tns:ListarNotas"/>
</message>
<message name="ListarNotasResponse">
<part name="parameters" element="tns:ListarNotasResponse"/>
</message>
<message name="Loguear">
<part name="parameters" element="tns:Loguear"/>
</message>
<message name="LoguearResponse">
<part name="parameters" element="tns:LoguearResponse"/>
</message>
<message name="BuscarDocente">
<part name="parameters" element="tns:BuscarDocente"/>
</message>
<message name="BuscarDocenteResponse">
<part name="parameters" element="tns:BuscarDocenteResponse"/>
</message>
<message name="BuscarMateria">
<part name="parameters" element="tns:BuscarMateria"/>
</message>
<message name="BuscarMateriaResponse">
<part name="parameters" element="tns:BuscarMateriaResponse"/>
</message>
<message name="BuscarNota">
<part name="parameters" element="tns:BuscarNota"/>
</message>
<message name="BuscarNotaResponse">
<part name="parameters" element="tns:BuscarNotaResponse"/>
</message>
<message name="Listar">
<part name="parameters" element="tns:Listar"/>
</message>
<message name="ListarResponse">
<part name="parameters" element="tns:ListarResponse"/>
</message>
<message name="RegistrarAlumno">
<part name="parameters" element="tns:RegistrarAlumno"/>
</message>
<message name="RegistrarAlumnoResponse">
<part name="parameters" element="tns:RegistrarAlumnoResponse"/>
</message>
<message name="BuscarAlumno">
<part name="parameters" element="tns:BuscarAlumno"/>
</message>
<message name="BuscarAlumnoResponse">
<part name="parameters" element="tns:BuscarAlumnoResponse"/>
</message>
<message name="RegistrarNota">
<part name="parameters" element="tns:RegistrarNota"/>
</message>
<message name="RegistrarNotaResponse">
<part name="parameters" element="tns:RegistrarNotaResponse"/>
</message>
<message name="RegistrarMensaje">
<part name="parameters" element="tns:RegistrarMensaje"/>
</message>
<message name="RegistrarMensajeResponse">
<part name="parameters" element="tns:RegistrarMensajeResponse"/>
</message>
<message name="Registrar">
<part name="parameters" element="tns:Registrar"/>
</message>
<message name="RegistrarResponse">
<part name="parameters" element="tns:RegistrarResponse"/>
</message>
<message name="ListarMaterias">
<part name="parameters" element="tns:ListarMaterias"/>
</message>
<message name="ListarMateriasResponse">
<part name="parameters" element="tns:ListarMateriasResponse"/>
</message>
<message name="ListarDocentes">
<part name="parameters" element="tns:ListarDocentes"/>
</message>
<message name="ListarDocentesResponse">
<part name="parameters" element="tns:ListarDocentesResponse"/>
</message>
<message name="MensajeContacto">
<part name="parameters" element="tns:MensajeContacto"/>
</message>
<message name="MensajeContactoResponse">
<part name="parameters" element="tns:MensajeContactoResponse"/>
</message>
<portType name="ServiciosEdutin">
<operation name="RegistrarDocente">
<input wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/RegistrarDocenteRequest" message="tns:RegistrarDocente"/>
<output wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/RegistrarDocenteResponse" message="tns:RegistrarDocenteResponse"/>
</operation>
<operation name="ListarAlumnos">
<input wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/ListarAlumnosRequest" message="tns:ListarAlumnos"/>
<output wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/ListarAlumnosResponse" message="tns:ListarAlumnosResponse"/>
</operation>
<operation name="RegistrarMateria">
<input wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/RegistrarMateriaRequest" message="tns:RegistrarMateria"/>
<output wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/RegistrarMateriaResponse" message="tns:RegistrarMateriaResponse"/>
</operation>
<operation name="ListarNotas">
<input wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/ListarNotasRequest" message="tns:ListarNotas"/>
<output wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/ListarNotasResponse" message="tns:ListarNotasResponse"/>
</operation>
<operation name="Loguear">
<input wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/LoguearRequest" message="tns:Loguear"/>
<output wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/LoguearResponse" message="tns:LoguearResponse"/>
</operation>
<operation name="BuscarDocente">
<input wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/BuscarDocenteRequest" message="tns:BuscarDocente"/>
<output wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/BuscarDocenteResponse" message="tns:BuscarDocenteResponse"/>
</operation>
<operation name="BuscarMateria">
<input wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/BuscarMateriaRequest" message="tns:BuscarMateria"/>
<output wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/BuscarMateriaResponse" message="tns:BuscarMateriaResponse"/>
</operation>
<operation name="BuscarNota">
<input wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/BuscarNotaRequest" message="tns:BuscarNota"/>
<output wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/BuscarNotaResponse" message="tns:BuscarNotaResponse"/>
</operation>
<operation name="Listar">
<input wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/ListarRequest" message="tns:Listar"/>
<output wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/ListarResponse" message="tns:ListarResponse"/>
</operation>
<operation name="RegistrarAlumno">
<input wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/RegistrarAlumnoRequest" message="tns:RegistrarAlumno"/>
<output wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/RegistrarAlumnoResponse" message="tns:RegistrarAlumnoResponse"/>
</operation>
<operation name="BuscarAlumno">
<input wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/BuscarAlumnoRequest" message="tns:BuscarAlumno"/>
<output wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/BuscarAlumnoResponse" message="tns:BuscarAlumnoResponse"/>
</operation>
<operation name="RegistrarNota">
<input wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/RegistrarNotaRequest" message="tns:RegistrarNota"/>
<output wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/RegistrarNotaResponse" message="tns:RegistrarNotaResponse"/>
</operation>
<operation name="RegistrarMensaje">
<input wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/RegistrarMensajeRequest" message="tns:RegistrarMensaje"/>
<output wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/RegistrarMensajeResponse" message="tns:RegistrarMensajeResponse"/>
</operation>
<operation name="Registrar">
<input wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/RegistrarRequest" message="tns:Registrar"/>
<output wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/RegistrarResponse" message="tns:RegistrarResponse"/>
</operation>
<operation name="ListarMaterias">
<input wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/ListarMateriasRequest" message="tns:ListarMaterias"/>
<output wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/ListarMateriasResponse" message="tns:ListarMateriasResponse"/>
</operation>
<operation name="ListarDocentes">
<input wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/ListarDocentesRequest" message="tns:ListarDocentes"/>
<output wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/ListarDocentesResponse" message="tns:ListarDocentesResponse"/>
</operation>
<operation name="MensajeContacto">
<input wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/MensajeContactoRequest" message="tns:MensajeContacto"/>
<output wsam:Action="http://edutinservicio.edutin.com/ServiciosEdutin/MensajeContactoResponse" message="tns:MensajeContactoResponse"/>
</operation>
</portType>
<binding name="ServiciosEdutinPortBinding" type="tns:ServiciosEdutin">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="RegistrarDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarAlumnos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrarMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarNotas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Loguear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarMateria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarNota">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrarAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrarNota">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrarMensaje">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Registrar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarMaterias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarDocentes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MensajeContacto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiciosEdutin">
<port name="ServiciosEdutinPort" binding="tns:ServiciosEdutinPortBinding">
<soap:address location="http://localhost:8080/EdutinServicio/ServiciosEdutin"/>
</port>
</service>
</definitions>